.pf-c-login__main {
    --pf-c-login__main--BackgroundColor: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
}

.pf-c-button.pf-m-primary {
    background-color: #2b7e66;
}

.pf-c-form__group.pf-m-action {
    margin-top: 10px;
    overflow: hidden;
}

a[href^="https://goauthentik.io"] {
    display:none !important
}

ul {
    padding-top: 1rem;
    color: #2b7e66;
}

.pf-c-login__container.content-right {
    margin-right: 15px;
    margin-left: 15px;
}

.pf-c-button.pf-m-primary.ak-stage-password, .pf-c-button.pf-m-primary.ak-stage-identification {
    color: white !important;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 0.8rem;
    background-color: #00000069 !important;
    padding: 15px 10px !important;
    border-radius: 10px !important;
    text-transform: uppercase !important;
     transition: 1s all;
}

.pf-c-button.pf-m-primary.ak-stage-password:hover, .pf-c-button.pf-m-primary.ak-stage-identification:hover {
    color: #000000 !important;
    font-weight: bold;
    background-color: white !important;
    transition: 1s all;
}

.pf-c-form__group.pf-m-action.ak-stage-identification {
    margin-top: -5px !important;
}

input.pf-c-form-control.style-scope.ak-stage-password, input.pf-c-form-control.style-scope.ak-stage-identification {
    padding: 10px !important;
    border-radius: 10px !important;
    background: rgba(255,255,255,0.1) !important;
    text-shadow: none !important;
    box-shadow: none !important;
    height: 100% !important;
    border: none !important;
    margin-top: 4px !important;
    height: 45px;
}

.pf-c-form__group.pf-m-action.ak-stage-password {
    margin-top: 10px !important;
    overflow: hidden;
}

.pf-c-login__main-body.ak-stage-identification, .pf-c-login__main-body.ak-stage-password {
    padding-bottom: 10px;
}

img.ak-flow-executor, embed.ak-flow-executor, iframe.ak-flow-executor, object.ak-flow-executor, audio.ak-flow-executor, video.ak-flow-executor {
    max-width: 100%;
    height: 250px !important;
    object-fit: contain;
}

.pf-c-login__header.ak-flow-executor .pf-c-brand.ak-flow-executor {
    justify-content: center;
    align-items: center;
    display: flex;
}


.pf-c-login__header.ak-flow-executor {
    margin-top: 0 !important;
}

@media screen and (min-width: 1200px) {
img.ak-flow-executor {
    margin-right: 25%;
}}

.ak-brand.ak-flow-executor img.ak-flow-executor {
    padding: 0 2rem;
    max-height: inherit;
    margin-right: 0;
}
